</div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/lucasqueirozti">Lucas Alves</a> - ADS TCC Project - FATEC SCS
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

     <!--   Core JS Files   -->
     <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
     <script src="/javascripts/jquery.mask.min.js"></script>
 
     <!--  Charts Plugin -->
     <script src="/assets/js/chartist.min.js"></script>
 
     <!--  Notifications Plugin    -->
     <script src="/assets/js/bootstrap-notify.js"></script>
 
     <!-- Light Bootstrap Table Core javascript -->
     <script src="/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

</html>