<!DOCTYPE html>
<html lang="pt-br">
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        
        <!-- ==========  CSS Bootstrap Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <!-- ========== CSS Personlizado Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/styleApp.css">  
        <!-- ========== JS JQuery Import Zone ========== -->
        <script src="/javascripts/jquery-3.3.1.min.js"></script>
    </head>
    <body>