<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Código 2Auth </title>

    <!-- ==========  CSS Bootstrap Import Zone ========== -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <!-- ========== CSS Personlizado Import Zone ========== -->
    <link rel="stylesheet" href="/stylesheets/styleApp.css">

    <style>
        body {
            background: #005C97;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #363795, #005C97);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #363795, #005C97);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .code-box {
            background-color: #0285d7;
            color: #fff;
            border-radius: 1rem;
        }

        p.number-input {
            background-color: #D4EAF9;
            color: #404954;
            font-size: 2rem;
            width: 100%;
            text-align: center;
        }

        div.code-row{
            min-width: 12rem;
            max-width: 12rem;
        }
    </style>

</head>

<body>
    <!-- Content Here -->

    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">

        <!-- Box de Codigo -->
        <div class="code-box p-5" style="max-width: 500px">
            
            <!-- header do box -->
            <div id="header-box">
                <h3>Codigo de Verificação</h3>
                <p>Por favor, insira seu codigo de acesso</p>
            </div>

            <!-- Area vizualizador do codigo -->
            <div id="code-content" class="d-flex justify-content-center">
                <div class="row code-row">
                    <div class="col-3 p-2">
                        <p class="number-input">

                        </p>
                    </div>
                    <div class="col-3 p-2">
                        <p class="number-input">

                        </p>
                    </div>
                    <div class="col-3 p-2">
                        <p class="number-input">
                            
                        </p>
                    </div>
                    <div class="col-3 p-2">
                        <p class="number-input">

                        </p>
                    </div>
                </div>
            </div>


        </div>

    </div>




    <!-- ========== JS Bootstrap Import Zone ========== -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <!-- ========== JS JQuery Import Zone ========== -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
</body>

</html>