<%- include('../partials/head.ejs'); -%>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content p-5">
                <div id="menu">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="m-2 border rounded">
                                <div class="img-menu w-100 h-100 p-5">
                                    <!-- IMG HERE -->
                                </div>
                                <div class="p-5">
                                    <h5 class=""><b>Visitantes</b></h5>
                                    <p class="card-text">Cadastre e administre seus visitantes ja cadastrados
                                        no sistema para poder agendar futuras visitas.</p>
                                    <a class="btn btn-primary align-bottom" href="/visitantes">Visitantes</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="m-2 border rounded">
                                <div class="img-menu w-100 h-100 p-5">
                                    <!-- IMG HERE -->
                                </div>
                                <div class="p-5">
                                    <h5 class=""><b>Agendar Visitas</b></h5>
                                    <p class="card-text">Agende uma visitas para um visitante previamente cadastrado no 
                                            sistema para facilidar a entrada no condominio.</p>
                                    <a class="btn btn-primary align-bottom" href="/visitas">Agendar Visita</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="m-2 border rounded">
                                <div class="img-menu w-100 h-100 p-5">
                                    <!-- IMG HERE -->
                                </div>
                                <div class="p-5">
                                    <h5 class=""><b>Código de Acesso</b></h5>
                                    <p class="card-text">Cadastre ou atualize seu codigo de autenticacao do 2 Auth a
                                            partir de um QR code usando seu app de preferencia.</p>
                                    <a class="btn btn-primary align-bottom" href="/visitantes">Código de acesso</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/footer.ejs'); -%>