<!DOCTYPE html>
<html lang="pt-br">
    <head>       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home </title>
        
        <!-- ==========  CSS Bootstrap Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <!-- ========== CSS Personlizado Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/styleApp.css">  
    </head>
    <body>
        <!-- Content Here -->

        <h1 class="m-3">Home</h1>

        <hr/>

        <a class="btn btn-primary m-3 w-25" href="/visitantes">Visitantes</a> 
        <a class="btn btn-primary m-3 w-25" href="/visitas">Visitas</a> 
        <a class="btn btn-primary m-3 w-25" href="/codigo">Cadastrar Código</a>
        
        <!-- ========== JS Bootstrap Import Zone ========== -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <!-- ========== JS JQuery Import Zone ========== -->
        <script src="/javascripts/jquery-3.3.1.min.js"></script>
    </body>
</html>