.content {
    margin: 20px;
    padding: 30px 20px;
    /*max-width: 800px; */
    min-width: 500px;
}

.container{
    justify-content: center;
    display: flex;
}

table.vertical-center-items tr td {
    vertical-align: middle!important;
}

#home-cards {
    max-width: 1280px;
    margin-right: auto!important;
    margin-left: auto!important;
}