<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/users/signup" method="POST" id="cadastroForm">
      <label for="username">Username: </label>                  <input name="username" type="text" /><br />
      <label for="password">Password: </label>                  <input name="password" type="password" /><br />
      <label for="confirmaPassword">Confirmar Password: </label><input name="confirmaPassword" type="password" /><br />
      <label for="rg">RG: </label>                              <input name="rg" type="text"> <br />
      <label for="apartamento">Apartamento: </label>            <input name="apartamento" type="text" /> <br />
      <label for="bloco">Bloco: </label>                        <!--input name="bloco" type="text" /-->
      <select name="bloco" form="cadastroForm">
        <% blocos.forEach(bloco => { %>
          <option value="<%- bloco %>"> <%- bloco %> </option>
        <% }); %>
      </select>
       <br />
      <label for="email">E-mail: </label>                       <input name="email" type="text" /><br />
      <input type="submit" value="Cadastrar" />
    </form>
    <% if(message) { %>
      <p>
        <label style="color:Red"><%= message %></label>
      </p>
    <%}%>
  </body>
</html>