<!DOCTYPE html>
<html>
<head>
    <title>Tela de Teste</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <h1><%= title %></h1>
    <p>Tela de teste:  <%= title %></p>
</body>
</html>
