<!DOCTYPE html>
<html>
<head>
    <title>Tela de Teste</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <h1> Itens a baixo: </h1>
    <%  lista.forEach( item => { %>
        <div> <%- item.username %> </div>
    <% }); %>

</body>
</html>
