.content {
    margin: 20px;
    padding: 30px 20px;
    max-width: 600px;
}

.container{
    justify-content: center;
    display: flex;
}

table.vertical-center-items tr td {
    vertical-align: middle!important;
}